#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
// ĐÃ XÓA THƯ VIỆN BLUETOOTH Ở ĐÂY

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            // Hàng 0 (D6)
            &kp ESC    &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSPC
            // Hàng 1 (D7)
            &kp TAB    &kp A      &kp S      &kp D      &kp F      &kp G      &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
            // Hàng 2 (D8)
            &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp ENTER
            // Hàng 3 (D9)
            &kp LCTRL  &kp LWIN   &kp LALT   &none      &kp SPACE  &none      &kp SPACE  &mo 1      &none      &none      &none      &kp LALT
            >;
        };

        fn_layer {
            bindings = <
            // ĐÃ XÓA CÁC LỆNH BLUETOOTH
            &none      &none      &none      &none      &none      &kp B      &none      &none      &kp F7     &kp F8     &kp F9     &kp F10
            &none      &none      &none      &none      &none      &none      &none      &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &none
            &none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none
            &none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none
            >;
        };
    };
};
